@use "../../root" as *;
@use "../../utilities" as *;

.main-sidebar {
  .single-sidebar-widget {
    padding: 40px 30px;
    background: $white-color2;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    margin-bottom: 30px;
    border-radius: 16px;
    @include breakpoint(max-xxsmall) {
      padding: 30px 20px;
    }

    &-agent {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;

      &__thumb {
        img {
          height: 80px;
          width: 80px;
          border-radius: 50%;
        }
      }

      &__info {
        &-name {
          font-size: 20px;
          line-height: 24px;
          color: $title-color;
          font-weight: 700;
        }

        &-date {
          font-size: 16px;
          padding-top: 8px;
        }
      }
    }

    &-links {
      padding-top: 10px;

      ul {
        li {
          padding-bottom: 10px;

          a {
            color: $theme-color;
            font-size: 18px;
            @include breakpoint(max-xxsmall) {
              font-size: 16px;
              line-height: 16px;
            }

            span {
              padding-right: 8px;
            }
          }
        }
      }
    }

    &-social {
      padding-top: 20px;

      ul {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 24px 0;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;

        li {
          a {
            font-size: 20px;
            color: $white-color;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            background-color: $theme-color;
            display: inline-block;
            border-radius: 4px;
          }
        }
      }

      .theme-btn {
        width: 100%;
        margin-top: 34px;
      }
    }

    &-openning-hour {
      td {
        padding: 10px;
      }
    }

    &-category,
    &-location {
      ul {
        li {
          padding-bottom: 8px;
          &:last-child {
            padding-bottom: 0;
          }

          a {
            color: $theme-color;
            font-size: 18px;
            span {
              padding-right: 8px;
            }
          }
        }
      }
    }
  }

  .widget-title {
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 5px;
    color: $title-color;
    font-family: $title-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 83px;
      content: "";
      background-color: $theme-color;
    }
  }

  // search widget
  .search-widget {
    form {
      width: 100%;
      position: relative;

      input {
        background: $bg-color;
        font-size: 15px;
        padding: 12px 20px;
        width: 100%;
        border: none;
        color: $text-color;
        border-radius: 8px;
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        font-size: 18px;
        height: 100%;
        background: transparent;
        border: none;
        color: $title-color;
        text-align: center;
        transition: 0.4s all ease-in-out;

        &:hover {
          background: $theme-color;
          color: $white-color;
        }
      }
    }
  }

  // Tag widget
  .tagcloud {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h6 {
      font-size: 20px;
    }

    a.active {
      background: $theme-color !important;
      color: $white-color !important;
    }

    li {
      margin-right: 5px;

      a {
        display: inline-flex;
        padding: 10px 16px;
        background: $bg-color;
        color: $title-color;
        font-family: $title-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        text-transform: capitalize;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background: $theme-color !important;
          color: $white-color !important;
        }
      }
    }
  }

  // Ratings widget
  .categories-list {
    .checkbox-single {
      position: relative;
      padding-left: 18px;
      cursor: pointer;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .checkbox-area {
        .checkmark {
          position: absolute;
          left: 0;
          height: 20px;
          width: 20px;
          border: 1px solid rgb(229, 229, 229);
          top: 5px;

          &::after {
            content: "";
          }
        }

        input:checked ~ .checkmark {
          background-color: $theme-color;
        }

        input:checked ~ .checkmark::after {
          content: "\f00c";
          position: absolute;
          font-family: "Font Awesome 6 Pro";
          top: -5px;
          left: 5px;
          color: $theme-color;
          font-size: 11px;
        }

        input:checked ~ .checkmark:after {
          display: block;
          color: $white-color;
        }
      }

      .text-color {
        font-weight: 700;
        color: $title-color;
        font-size: 18px;

        .star {
          color: $theme-color;
          margin-right: 5px;
          font-size: 18px;
        }
      }
    }
  }

  // Price Range
  .wrapper {
    padding-top: 30px;
    width: 100%;
    .price-input {
      display: flex;
      padding-top: 30px;
      align-items: center;
      justify-content: space-between;

      &__left {
        display: flex;
        align-items: center;

        h6 {
          padding-right: 12px;
        }
      }

      &__filter {
        text-transform: uppercase;
      }
    }

    .price-input .field {
      display: flex;
      width: 100%;
      align-items: center;

      span {
        font-size: 18px;
        color: $title-color;
        font-size: 600;
      }
    }

    .field input {
      width: 50px;
      height: 100%;
      outline: none;
      font-size: 18px;
      border-radius: 5px;
      text-align: left;
      padding: 0;
      border: none;
      -moz-appearance: textfield;
      background-color: transparent;
      color: $title-color;
      font-weight: 600;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .price-input .separator {
      display: flex;
      font-size: 19px;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
      padding-left: 5px;
    }

    .slider {
      height: 5px;
      position: relative;
      background: #ddd;
      border-radius: 5px;
    }

    .slider .progress {
      height: 100%;
      left: 25%;
      right: 25%;
      position: absolute;
      border-radius: 5px;
      background: $theme-color;
    }

    .range-input {
      position: relative;
    }

    .range-input input {
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background: $theme-color;
      pointer-events: auto;
      -webkit-appearance: none;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }

    input[type="range"]::-moz-range-thumb {
      height: 17px;
      width: 17px;
      border: none;
      border-radius: 50%;
      background: $theme-color;
      pointer-events: auto;
      -moz-appearance: none;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    }
  }

  // filter container
  .filter-container {
    .filter-title {
      font-size: 20px;
      font-weight: bold;
      color: $theme-color;
      margin-bottom: 10px;
    }

    .divider {
      border: none;
      height: 2px;
      background-color: $theme-color;
      margin-bottom: 15px;
    }

    .filter-input,
    .filter-select {
      width: 100%;
      border: 1px solid $border-color;
      border-radius: 5px;
      font-size: 14px;
      background-color: $bg-color;
      margin-bottom: 20px;
      height: 56px;
    }
    .filter-input {
      padding: 10px;
    }
    .filter-button {
      width: 100%;
      background-color: $theme-color;
      color: $white-color;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .filter-button:hover {
      background-color: $theme-color;
    }
  }
}

// sort bar
.sort-bar {
  padding: 0;
  margin: 0 0 30px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.sort-bar .woocommerce-result-count {
  margin-bottom: 0;
}

.sort-bar .nav-pills {
  margin-left: 10px;
}

.sort-bar .nav-pills .nav-link.active,
.sort-bar .nav-pills .nav-pills .show > .nav-link {
  color: $theme-color;
  background-color: transparent;
}

.sort-bar .nav-link {
  color: $text-color;
  padding: 5px;
  margin-left: 5px;
}

.sort-bar .nav a.active,
.sort-bar .nav a:hover {
  color: $theme-color !important;
}

.sort-bar .single-select {
  height: 46px;
  line-height: 46px;
  border: 1px solid #e8e8e8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 209px;
  font-size: 16px;
  margin: 0;
  //   padding: 0 40px 0 20px;
  padding: 0;
  color: $title-color;
}
