@use "../root" as *;
@use "../utilities" as *;

.breadcumb-wrapper {
  position: relative;
  background-image: url("/images/intro/breadcumb.jpg");
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 0;
  }

  .breadcumb-content {
    position: relative;
    z-index: 5;
    padding: 160px 0;
    text-align: center;

    .breadcumb-title {
      color: $white-color;
      font-family: $title-font;
      font-size: 64px;
      font-style: normal;
      font-weight: 900;
      line-height: 105px;
      text-transform: uppercase;

      @include breakpoint(max-sm) {
        font-size: 40px;
        line-height: 52px;
      }
    }

    .breadcumb-menu {
      display: flex;
      justify-content: center;
      gap: 15px;
      @include breakpoint(max-sm) {
        gap: 5px;
      }
      li {
        a {
          color: $white-color;
          font-family: $body-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
        }
        &.active {
          color: $white-color;
          font-family: $body-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
        }
      }
    }
  }
}

.error-wrapper {
  h2 {
    color: $title-color;
    text-align: center;
    font-family: $title-font;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 70px;
    margin-bottom: 35px;
  }
}

.account-wrapper {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.account-card {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  .logo {
    margin-bottom: 60px;
  }

  h3 {
    color: $title-color;
    text-align: center;
    font-family: $title-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  p {
    color: $title-color;
    text-align: center;
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
  }

  h6 {
    color: $title-color;
    text-align: center;
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 50px;
  }

  .form-ctl {
    position: relative;

    .icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}

.account-thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}
