@use '../root' as *;
@use '../utilities' as *;

.cta2 {
    &-card {
        border-radius: 40px;
        background: $bg-color3;
        padding: 80px;
        position: relative;

        @include breakpoint(max-md) {
            padding: 50px 40px;
        }

        @include breakpoint(max-xxsmall) {
            padding: 30px 20px;
        }

        &__title {
            color: $white-color2;
            font-family: $title-font;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            padding-top: 90px;
            padding-bottom: 16px;

            @include breakpoint(max-xl) {
                padding-top: 0;
            }

            @include breakpoint(max-md) {
                font-size: 42px;
            }

            @include breakpoint(max-xxsmall) {
               font-size: 32px; 
            }
        }

        &__text {
            color: #ECEBEB;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            padding-bottom: 40px;

            @include breakpoint(max-md) {
                padding-bottom: 24px;
            }
        }

        &-thumb {
            position: relative;
            z-index: 3;

            @include breakpoint(max-xl) {
                margin-top: 30px;
            }

            &__thumb1 {
                img {
                    border-radius: 40px;
                    @include breakpoint(max-xxsmall) {
                width: 100%;
                    }
                }
            }

            &__thumb2 {
                position: absolute;
                right: 0;
                bottom: 0;
                @include breakpoint(max-xxsmall) {
                display: none;
                }

                img {
                    border-radius: 40px;
                }

                @include breakpoint(max-xl) {
                    right: 32%;
                }

                @include breakpoint(max-lg) {
                    right: 0;
                }
            }

            &-video {
                position: absolute;
                left: 28%;
                top: 32%;
                transform: translate(-50%, -50%);

                @include breakpoint(max-xxsmall) {
                left: 50%;
                top: 50%;
                }
            }

            &-video-btn {
                background-color: $theme-color;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 60px;

                i {
                    font-size: 24px;
                    color: $white-color;
                    line-height: 60px;
                }
            }
        }

        &__shape1 {
            position: absolute;
            left: 0;
            bottom: 0;

            img {
                @include breakpoint(max-md) {
                    opacity: 0.2;
                }
            }
        }

        &__shape2 {
            position: absolute;
            top: 0;
            right: 10px;
        }

        &-shape3 {
            margin-top: -40px;
            @include breakpoint(max-xxsmall) {
                display: none;
            }

            img {
                @include breakpoint(max-md) {
                    opacity: 0.2;
                }
            }
        }
    }
}