@use '../root' as *;
@use '../utilities' as *;


.service1 {
    background-color: #0A121B;
    position: relative;
    z-index: 3;

    &__thumb {
        img {
            max-width: 100%;
        }
        @include breakpoint(max-xl) {
           margin-top: 24px;
        }
    }

    &-item {
        padding: 40px 0;
        border-bottom: 1px solid rgba(106, 114, 229, 0.2);
        position: relative;
        z-index: 3;
        @include breakpoint(max-xxsmall) {
            padding: 20px 0;
         }

        &__title {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $white-color2;
            font-family: $title-font;
            color: transparent;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;

            @include breakpoint(max-xxsmall) {
                font-size: 34px;
             }
        }

        &-content {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            @include breakpoint(max-sm) {
                flex-wrap: wrap;
                gap: 12px;
            }

            &__text {
                max-width: 460px;
                color: $white-color2;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin-left: -40px;
                @include breakpoint(max-xl) {
                    margin-left: 0;
                    margin-top: 20px;
                }

                @include breakpoint(max-xxsmall) {
                    margin-top: 16px;
                 }
            }

            &__thumb {
                position: absolute;
                right: 55px;
                opacity: 0;
                transition: 0.3s all ease-in-out;
            }

            &__btn-wrapper {
                text-align: end;

                .service-btn {
                    height: 45px;
                    width: 45px;
                    line-height: 45px;
                    text-align: center;
                    border: 1px solid $border-color;
                    display: inline-block;
                    color: $white-color2;
                    border-radius: 50%;
                }
            }
        }

        &:hover &-content{
            .service1-item-content__thumb{
                opacity: 1;
            }
            .service1-item-content__btn-wrapper{
                .service-btn{
                    background-color: $theme-color;
                    border: 1px solid $theme-color;
                }
            }
        }

        &:hover &__title{
            color: $white-color2;
        }
        
    }

    &__shape{
        position: absolute;
        left: 0;
        bottom: 240px;
        z-index: 1;

        @include breakpoint(max-xl) {
            opacity: 0.2;
         }
        @include breakpoint(max-md) {
            display: none;
        }
    }
}