@use '../../root' as *;
@use '../../utilities' as *;

.contact-info-item {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 20px;
    background-color: $white-color; 
    box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);

    @include breakpoint(md) {
        flex-wrap: wrap;
    }

    &__icon {
        width: 55px;
        height: 55px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        background-color: #e6f3ff;
        color: $theme-color;
        border-radius: 50%;
    }
    &__content {
        p {
            color: $text-color; 
            font-family: $body-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;  
            margin-bottom: 8px;
        }
        h4 {
            color: $theme-color; 
            font-family: $title-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;  
        }
    }
}