// custom video modal
.video-backdrop {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
  z-index: 9999999 !important;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.video-inner {
  max-width: 100%;
  height: calc(100% - 120px);
  max-height: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  overflow-y: auto;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

.video-zoom-in {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);

  .video-container {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.video-container {
  position: relative;
  max-width: 850px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  z-index: 9999999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  transition-delay: 0.3s;

  .video {
    width: 100%;
    height: 100%;
    border: 0px;
  }
}

.close-video-popup {
  position: absolute;
  top: -60px;
  inset-inline-end: -6px;
  background-color: transparent;
  font-size: 30px;
  box-shadow: none;
  border: 0px;
  color: #fff;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: teal;
  }
}
