@use '../../root' as *;
@use '../../utilities' as *;


.category1-button-group, .location1-button-group {
    text-align: center;
    button {
        border: 1px solid $border-color;
        padding: 16px 24px;
        border-radius: 999px;
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        color: $gray-color-1;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.category1-button-group button:hover, 
.location1-button-group button:hover {
    background-color: $theme-color;
    color: $white-color2;
}

.category1-button-group button.is-checked,
.location1-button-group button.is-checked {
    background-color: $theme-color;
    color: $white-color2;
    border-color: $theme-color;
}